html {
  background-color: #111;
}

.mapa{
  padding-top: 63rem;
}

.no-padding{
  padding: 0px;
}

.map-content{
  height: 65rem;
}

.fix-padding {
  padding: 0px 10px;
}

.startup{
  padding: 15px;
  background-color: #f6f5f5;
  border-bottom: 2px solid #333333;
  font-size: 12px;
}

.startup-list{
  border-radius: 2px;
}

.fix-logo-startup{
  margin: 5px;
}

.brand-logo{
  width: 78px;
}

.startup-container{
  overflow-y: scroll;
  height: 100%;
}

.hotfix{
  height: 15px;
  width: 100%;
}
